*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}
.content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.nav{
    width: 100%;
    height: auto;
    background: #27496d;
    display: flex;
}
.nav__lista{
    display: flex;
    flex-direction: row;
}
.nav__lista--item{
    list-style: none;
    padding: .75rem;   
}
.nav__lista--item:hover a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.nav__lista--item a{ 
    color: #ffce00;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.footer{
    width: 100%;
    height: 35px;
    background: #00909e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffce00;
    font-size: 12px;
}
.footer img{
    width: 100%;
    height: auto;
}


/* Elementos del juego */

.container{
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( #27496d 20%, #00909e 100%);
}
.container__gameboard{
    display: grid;
    width: 35%;
    height: 500px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}
.container__gameboard--item{

    border-radius: 25px;
    margin: 10px;
}
.colorBase{
    background: #ffce00;
}


/* Pantalla inicio */ 



/* Elementos ocultos */

.hide{
    display: none;
}

.opacity{
    opacity: .5;
}


/* Swal Modal */

.swal-modal {
    background-color: #27496d;
    border: 3px solid white;
  }
.swal-text{
    font-size: 16px;
    padding: 17px;
    display: block;
    margin: 22px;
    text-align: center;
    color: #ffce00;
}
.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background: #00909e;
    font-size: 12px;
  }
  .swal-title {
    color: #ffce00;
    font-size: 24px;
  }
  .swal-icon--success:after, .swal-icon--success:before{
      background: #27496d71 ;
  }
  .swal-icon--success{
      border-color: #ffce00;
  }
  .swal-icon--success__line{
    background-color: #ffce00 ;
  }
  .swal-icon--success__ring{
      border: 4px solid #ffce00;
  }
  .swal-icon--success__hide-corners{
    background-color: #27496d;
  }
  /* BOTONES */

  .btnInicio--button{
      outline: none;
      color: #ffce00;
      font-size: 1.2em;
      padding: 10px 100px;
      background: #00909e;
      border-radius: 20px;
      border: 1px solid white;
  }
  .btnInicio--button:hover{
      cursor: pointer;
      background: #27496d;
  }



  /* MEDIAS QUERIS */
@media (max-width: 600px) {
    .content{
        height: 100vh;
    }
    .container__gameboard{
        width: 90%;
        height: 400px;
    }
  
    .footer {
      align-items: center;
  }
  .nav{
    justify-content: center;
  }
}